%table.spelling_errors_tab
  %tr
    %th Error Word
    %th Error Elem
  = @spelling_errors.each do |spelling_error|
    %tr
      %td
        = spelling_error.error_word
      %td
        = spelling_error.error_elem
