%p#notice= notice
= render 'layouts/site_summary'

:javascript
  $(document).ready(function(){
    $('.sites .btn').html('#{@site.name}');
    $('.sites .btn').append('<span class="caret"></span>');
  });
